* { box-sizing: border-box; }
body { padding: 1em 2em; }
h1, h2, h3, h4, h5 { margin-bottom: 0; }
h2 { margin-top: 0; }
hr { clear: both;}
textarea { min-height: 15em; }
.pure-g > * { padding: 0 1em; }
.pure-g > *:last-child { padding-right: 0; }
.eth-logo  { float: left; max-height: 37px; display: inline-block; vertical-align: top; }
.eth-title { float: left; display: inline-block; vertical-align: top;  margin-top: 2px;}
.nav-link { float: right;}
#documentText { min-height:600px; 
                padding: .5em .6em;
                border: 1px solid #ccc;
                box-shadow: 0 1px 3px #ddd;
                border-radius: 4px;
                vertical-align: middle; 
                display: block;
                margin: .25em 0; }
.pure-button {float: right;}
.eth-logo { background: url('images/ethereum-grayscale.png'); background-size: contain; width: 25px; height: 50px; }
#myID { display: inline-block; vertical-align: middle; position: relative; top: 12px; margin-left: 20px; }